body {
    background-color: #121212;
    text-align: center;
}
h1, h2, h3, h4, h5, h6
{
    font-size: xx-large;
color: whitesmoke;
font-variant: small-caps;
text-transform: none;
font-weight: 200;
margin-bottom: 0px

}
p, p1, p2, p3, p4, p5, p6
{font-size: large;
color: whitesmoke;
font-variant: small-caps;
text-transform: none;
font-weight: 200;
margin-bottom: 0px;
}
h1 {
    padding-top: 50px;
    padding-bottom: 50px;
}
img {
    padding-top: 50px;
}