html {
    background-image: url(background.png);
    background-repeat: no-repeat;
<<<<<<< HEAD
    background-attachment: fixed;
=======
    background-attachment: scroll;
>>>>>>> 6d75263861f771c7d9716e0f1b01cb930b47ee7e
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    background-size: cover; 
    width: auto;
    height: 100%;
<<<<<<< HEAD
}
.logo-box {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;

}
.text {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5vw;
    text-shadow: 2px 2px black;
    padding-top: 2%;
}
.header {
    text-align: center;
    color: whitesmoke;
    text-shadow: 3px 3px 5px black;
    padding-top: 10%;
    font-size: 4vw;
}
.indexsis {
    text-align: center;
    padding-bottom: 20%;

}

.nappi {
    min-width: 16%;
    height: auto;
=======
}
div#logo {
    text-align: center;
    width: auto;
    height: auto;
}
.text {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
.otsikko {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
#header {
    text-align: center;
    text-shadow: 2px 2px 5px black;
}
.nappi {
>>>>>>> 6d75263861f771c7d9716e0f1b01cb930b47ee7e
    text-align: center;
    background-color: #000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px 15px;
<<<<<<< HEAD
    font-size: 3vw;
    cursor: pointer;
    transition-duration: 0,8s;
    border: 2px solid whitesmoke;
    text-decoration: none;
    margin-left: 1%;
    margin-right: auto;
    float: left;
}

.nappi:hover {
    color: red;
    border: 3px solid red;
}
.social {
    margin: auto;
    display: inline-block;
    width: 10vw;
    height: auto;
}
@media (max-width: 1370px) {
.nappi {
    float: none;
    display: block;
    max-width: 70%;
    margin: auto;
}
}


=======
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    transition-duration: 0,8s;
    float: none;
    border: 2px solid whitesmoke;
    width: 18%;
    margin: auto;
    text-decoration: none; 
}
.nappi:hover {
    color: red;
    border: 2px solid red;
}
>>>>>>> 6d75263861f771c7d9716e0f1b01cb930b47ee7e
