html {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    background-size: cover; 
    width: auto;
    height: 100%;
}
.logo-box {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;

}
.text {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    text-shadow: 2px 2px black;
    padding-top: 2%;
    max-width: 40%;
}
.header {
    text-align: center;
    color: whitesmoke;
    text-shadow: 3px 3px 5px black;
    padding-top: 7%;
    font-size: 4vw;
}
.indexsis {
    text-align: center;
    padding-bottom: 20%;

}

.nappi {
    min-width: 16%;
    height: auto;
    text-align: center;
    background-color: #000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px 15px;
    font-size: 3vw;
    cursor: pointer;
    transition-duration: 0,8s;
    border: 2px solid whitesmoke;
    text-decoration: none;
    margin-left: 1%;
    margin-right: auto;
    float: left;
}

.nappi:hover {
    color: red;
    border: 3px solid red;
}
.social {
    margin: auto;
    display: inline-block;
    width: 10vw;
    height: auto;
}
.pic {
    width: 30vw;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
@media (max-width: 1450px) {
.nappi {
    float: none;
    display: block;
    max-width: 70%;
    margin: auto;
}
}
@media (max-width: 800px) {
    .text {
        font-size: 5vw;
    }
    .header {
        font-size: 6vw;
    }
    .social {
        width: 20vw;
    }
}
div.gallery {
    margin: 2vw;
    border: 1px solid #ccc;
    float: left;
    width: 40vw;
  }
  
  div.gallery:hover {
    border: 1px solid red;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    background-color: #000;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
  }
  .tour {
        color: whitesmoke;
        font-family: 'Times New Roman', Times, serif;
        font-size: 2vw;
        text-shadow: 2px 2px black;
        padding-top: 2%;
        padding-bottom: 15%;
  }
  .grid-container {
    gap: 70%;
    display: inline-grid;
    width: 50%;
    row-gap: 5%;
    grid-template-columns: 30% 30%;
    padding-bottom: 20%;
    text-align: center;
    padding-top: 15%;
    padding-left: 15%;
  }